# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
*.cfg
*/lib
*/bin
*/include

# Ignore IDE-specific files
.vscode/

# Ignore CSR PEM and key files(and JSON stores)
*.csr
*.key
*.pem
*.crt
*.srl
KeyStore.json
CSRStore.json

#Ignore logs
*.log
*/logs

#Mac files
.DS_Store

#vscode
.vscode
